<div>
    <button phx-click="add_protagonist_sprite">Add protagonist sprite <%= @state.designer_mode.buttons.add_protagonist_sprite %></button>
    <button phx-click="add_red_item_sprite">Add red item sprite <%= @state.designer_mode.buttons.add_red_item_sprite %></button>
    <button phx-click="add_blue_item_sprite">Add blue item sprite <%= @state.designer_mode.buttons.add_blue_item_sprite %></button>
    <button phx-click="add_wall_sprite">Add wall sprite <%= @state.designer_mode.buttons.add_wall_sprite %></button>
    <button phx-click="delete_sprite">Delete sprite <%= @state.designer_mode.buttons.delete_sprite %></button>
</div>
